.splash-screen {
  margin: 4rem auto;
  padding: 2rem 0;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.app-title {
  color: #434b54;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 2.5rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.login-button {
  display: block;
  width: 90vw;
  max-width: 500px;
  margin: 10px auto;
  padding: 10px;
  background-color: #3778c2;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.signup-button {
  display: block;
  width: 90vw;
  max-width: 500px;
  margin: 10px auto;
  padding: 10px;
  background-color: white;
  color: #434b54;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #434b54;
}
